.JobCard {
  box-sizing: border-box;
  background-color: white;
  margin: 10px 0px;
  padding: 20px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
  text-align: left;
  min-height: 120px;
  color: rgb(100,100,100);
}

.JobCard-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.JobCard-description {
  font-size: 14px;
}

.JobCard-apply {
  text-align: right;
}

.JobCard-apply button {
  height: 35px;
  width: 80px;
  border: none;
  background-color: rgb(245, 62, 62);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
}

.JobCard-apply button:hover {
  background-color: rgb(211, 42, 42);
}

.JobCard-apply button:disabled {
  cursor: default;
  background-color: rgb(255, 112, 112);
}